{% capture content %}
  <a id="content"></a>
  <div class="content">
    <div class="container">
      <div class="row">
        <section class="col-xs-12">
          {{body}}
        </section>
      </div>
    </div>
    {% if meta['display_subpages'] %}
      {% for page in pages %}
        {% assign text_color = page.meta['text_color'] | fallback:'black' %}
        {% if page.meta['background'] == 'image' %}
          {% assign background_image = page.assets | where:"meta.background","true" | first %}
          <div class="subpage background-image text-{{text_color}}" style="background-image: url('{{background_image.url}}')">
        {% elsif page.meta['banner'] ==  'primary' %}
          <div class="subpage banner-primary text-{{text_color}}">
        {% else %}
          <div class="subpage">
        {% endif %}
          <div class="container">
            {% if page.body != "" %}
              <div class="row">
                <section class="col-xs-12">
                  {{page.body}}
                </section>
              </div>
            {% endif %}
            {% if page.pages %}
              <div class="row">
                {% for subpage in page.pages %}
                  <div class="text-{{subpage.meta['text_align'] | fallback:'center'}} {{subpage.meta['column_class'] | fallback: page.meta['subpage_column_class'] | fallback:'col-sm-4'}}">
                    {% if subpage.meta['icon'] %}
                      <i class="subpage-icon fa fa-{{subpage.meta['icon']}}"></i>
                    {% endif %}
                    {{subpage.body}}
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endcapture %}
{% include 'layouts/default' %}
