<div class="header-home">
  <div class="big-video-wrap">
    <div class="big-video" data-href="/assets/videos/home-bg-video.mp4"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="logo">
          {% include 'includes/logo' %}
        </div>
        <a href="#big-slide-panel" class="big-slide-link no-underline visible-xs-block">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <div class="col-sm-9 hidden-xs">
        {% include 'includes/nav' %}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 slogans slogans-control">
        <h1 class="fade-in fade-in-slow">{{meta.slogan1}}</h1>
        <h2 class="fade-in fade-in-slow">{{meta.slogan2}}</h2>
      </div>
    </div>
  </div>
  <a class="jump-down no-underline fade-in fade-in-slow">
    <i class="fa fa-chevron-circle-down" data-scroll-to="#content" data-scroll-offset="-100"></i>
  </a>
</div>
<script type="text/javascript">
  $(function() {
    var resizeHeader = function() {
      $('.header-home').css('height', $(window).height());
      $('.header-home .big-video-wrap').css('height', $(window).height()-80);
    };
    resizeHeader();
    $(window).resize(resizeHeader);

    var placeSlogans = function() {
      var target = $('.header-home .big-video-wrap').innerHeight()-$('.header-home .slogans-control').innerHeight()-120;
      var topDistance = Math.max(target, 80);
      $('.header-home .slogans-control').css('margin-top', topDistance);
      var target = ($('.header-home .big-video-wrap').innerHeight()/2)-$('.header-home .slogans-variant').innerHeight()-120;
      var topDistance = Math.max(target, 80);
      $('.header-home .slogans-variant').css('margin-top', topDistance);
    };
    placeSlogans();
    $(window).resize(placeSlogans);

    setTimeout(function() {
      $('.fade-in').addClass("fade-in-now");
    }, 500);
  });
</script>
