<div class="header-home">
  <div class="big-video-wrap">
    <div class="big-video"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="logo">
          {% include 'includes/logo' %}
        </div>
        <a href="#big-slide-panel" class="big-slide-link no-underline visible-xs-block">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <div class="col-sm-9 hidden-xs">
        {% include 'includes/nav' %}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h1 class="fade-in fade-in-slow">{{meta.slogan | markdown}}</h1>
      </div>
    </div>
  </div>
  <a class="jump-down no-underline fade-in fade-in-slow">
    <i class="fa fa-chevron-circle-down" data-scroll-to="#content" data-scroll-offset="-100"></i>
  </a>
</div>
<script type="text/javascript">
  $(function() {
    var BV = new $.BigVideo({container:$(".big-video")});
    BV.init();
    BV.show('/assets/videos/22375808.mp4',{ambient:true});

    var resizeHeader = function() {
      $('.header-home').css('height', $(window).height());
      $('.header-home .big-video-wrap').css('height', $(window).height()-80);
      $('.header-home h1').css('margin-top', Math.min($(window).height()/3, 200));
    };
    resizeHeader();
    $(window).resize(resizeHeader);

    setTimeout(function() {
      $('.fade-in').addClass("fade-in-now");
    }, 2000);
  });
</script>
