<nav class="text-right" role="navigation">
  <ul class="list-unstyled list-inline">
    {% for page in site.pages %}
      {% if page.slug != "home" %}
        <li>
          <a href="{{page.url}}"{% if page.url == url %} class="is-current-page"{% endif %}>
            {% if page.meta.short_nav_title %}
              <span class="hidden-sm">{{page.meta.nav_title | fallback:page.title}}</span>
              <span class="visible-sm-block">{{page.meta.short_nav_title | fallback:page.title}}</span>
            {% else %}
              {{page.meta.nav_title | fallback:page.title}}
            {% endif %}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
