footer.page {
  background-color: $dark-gray; color: white; text-align: center; font-size: 13px;
  a {
    color: white; border-bottom-color: transparentize(white, 0.5);
    &:hover { border-bottom-color: white; }
  }
}
