@import "base";

body { font-family: $body-font; font-size: 1.3em; line-height: 1.6em; }
h1, h2, h3, h4, h5, h6 { color: $color1; font-family: $headline-font; text-align: center; }
a {
  color: $link-color; border-bottom: 1px dotted rgba(220,220,220,0.5); text-decoration: none; cursor: pointer;
  &:hover { color: lighten($link-color, 10%); border-bottom: 1px dotted lighten($link-color, 10%); text-decoration: none; }
  &.no-underline {
    border-bottom: 0; text-decoration: none;
    &:hover { border-bottom: 0; text-decoration: none; }
  }
}
blockquote {
  border-left: 0; border-bottom: 1px solid #eee;
  max-width: 800px; margin: 0 auto 40px; padding-bottom: 20px;
  color: $dark-gray; line-height: 1.5em; text-align: center;
  font: { size: 1.3em; style: italic; }
}

.btn-action {
  background: transparent; border: 1px solid $dark-gray; color: $dark-gray;
  &:hover { color: $dark-gray; background: transparentize($dark-gray, 0.9); border: 1px solid $dark-gray; }
}
.btn-action-light {
  background: transparent; border: 1px solid #fff; color: white;
  &:hover { color: white; background: rgba(255,255,255,0.1); border: 1px solid white; }
}

.page { position: relative; }

nav {
  a { text-transform: uppercase; }
}
header.page {
  background-color: $dark-gray; margin-bottom: 40px;
  .container { padding-top: 10px; padding-bottom: 10px; }
  nav { margin-top: 20px; }
  a {
    color: white; border-bottom: 0; text-decoration: none;
    &:hover { color: darken(white, 10%); border-bottom: 1px dotted darken(white, 10%); border-bottom: 0; text-decoration: none; }
  }
  .header-fixed {
    position: fixed; z-index: 10000; top: 0; left: 0; width: 100%; background-color: $dark-gray; opacity: 0; visibility: hidden;
    @include transition(opacity 0.3s linear);
    &.affix { opacity: 1; visibility: visible; }
  }
}
.content {
  .subpage {
    &.background-image {
      background-size: cover; background-position: 50% 50%;  padding-top: 30px; margin-bottom: 30px; color: white;
      h1, h2, h3, h4, h5, h6 { color: white; }
    }
    &.banner-primary {
      background-color: $color1; color: white; padding-top: 30px;
      h1, h2, h3, h4, h5, h6 { color: white; text-align: left; }
    }
  }
  section { padding-bottom: 15px; margin-bottom: 15px; }
  .subpage-icon { margin: 0 auto 24px; width: 60px; height: 60px; position: relative; display: inline-block; font-size: 22px; color: white; line-height: 60px; @include border-radius(4px); background-color: $color1; text-align: center; }
  .subpage-icon:after { content: ""; bottom: -8px; left: 50%; margin-left: -8px; width: 0; height: 0; position: absolute; border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 8px solid $color1; text-align: center; }
}
footer.page {
  background-color: $footer-color; color: white;
  a {
    color: white;
    &:hover { color: darken(white, 10%); }
  }
}
