@import "base";
@import "bigvideo";
@import "components/page-footer";
@import "components/page-header";
@import "components/section-styles";

body { font-size: 1.3em; line-height: 1.6em; }
h1, h2, h3, h4, h5, h6 { text-align: center; margin-bottom: 1.5rem; }
a {
  border-bottom: 1px dotted rgba(220, 220, 220, 0.5); text-decoration: none; cursor: pointer;
  &:hover { border-bottom: 1px dotted lighten($link-color, 10%); text-decoration: none; }
  &.no-underline {
    border-bottom: 0; text-decoration: none;
    &:hover { border-bottom: 0; text-decoration: none; }
  }
}
blockquote {
  border-left: 0;
  max-width: 800px; margin: 0 auto;
  color: #333; line-height: 1.5em; text-align: center;
  font: { size: 1.3em; style: italic; }
}

.btn-action {
  background: transparent; border: 1px solid $dark-gray; color: $dark-gray;
  &:hover { color: $dark-gray; background: transparentize($dark-gray, 0.9); border: 1px solid $dark-gray; }
}
.btn-action-primary {
  background: transparent; border: 1px solid $color1; color: $color1;
  &:hover { color: $color1; background: transparentize($color1, 0.9); border: 1px solid $color1; }
}
.btn-action-dark {
  background: transparent; border: 1px solid #333; color: #333;
  &:hover { color: #333; background: transparentize(#333, 0.9); border: 1px solid #333; }
}
.btn-action-light {
  background: transparent; border: 1px solid #fff; color: white;
  &:hover { color: white; background: rgba(255,255,255,0.1); border: 1px solid white; }
}

.page { position: relative; }

nav {
  a { text-transform: uppercase; }
}
.content {
  .subpage {
    &.background-image {
      background-size: cover; background-position: 50% 50%; padding: 30px 0; margin: 30px auto;
      h1, h2, h3, h4, h5, h6 { text-align: left; }
    }
    &.banner-primary {
      background-color: $color1; padding-top: 30px; margin: 30px auto;
      h1, h2, h3, h4, h5, h6 { text-align: left; }
    }
    &.text-black {
      color: darken($dark-gray, 20%);
      h1, h2, h3, h4, h5, h6 { color: darken($dark-gray, 20%); }
    }
    &.text-white {
      color: white;
      h1, h2, h3, h4, h5, h6 { color: white; }
    }
  }
  // .subpage-icon { margin: 0 auto 24px; width: 60px; height: 60px; position: relative; display: inline-block; font-size: 22px; color: white; line-height: 60px; @include border-radius(4px); background-color: $color1; text-align: center; }
  // .subpage-icon:after { content: ""; bottom: -8px; left: 50%; margin-left: -8px; width: 0; height: 0; position: absolute; border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 8px solid $color1; text-align: center; }
  .subpage-icon { margin: 0 auto; width: 160px; height: 160px; font-size: 80px; color: $color1; text-align: center; border: 4px solid $color1; padding: 25px; @include border-radius(160px); }
  .subpage-icon i { position: relative; top: 10px; }
  .big-video-wrap {
    position: relative; z-index: 0;
    .big-video { width: 100%; height: 100%; }
  }
}
